<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Intro to MapView - Create a 2D map</title>
    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.7/esri/css/main.css">
    <script src="https://js.arcgis.com/4.7/"></script>
    <script>
        require([
          "esri/Map",
          "esri/views/MapView",
          "esri/layers/BaseDynamicLayer",
          "esri/layers/MapImageLayer",
          "dojo/domReady!"
        ], function (Map, MapView, BaseDynamicLayer, MapImageLayer) {

            // *******************************************************
            // Create a subclass of BaseDynamicLayer
            // *******************************************************
            var MyCustomLayer = BaseDynamicLayer.createSubclass({

                properties: {
                    mapUrl: null,
                    mapParameters: null
                },

                // Override the getImageUrl() method to generate URL
                // to an image for a given extent, width, and height.
                getImageUrl: function (extent, width, height) {
                    return '@Url.Action("Layer1","Home")' + '?width=' + width + '&height=' + height;
                }

            });

            var baselayer = new MapImageLayer({
                url: "http://mapping.modot.mo.gov/arcgis/rest/services/Base-Map/Base_Cache/MapServer"
            });

            var myLayer = new MyCustomLayer();

            var map = new Map({
                layers: [baselayer, myLayer]
            });

            var view = new MapView({
                container: "viewDiv",  // Reference to the scene div created in step 5
                map: map,  // Reference to the map object created before the scene
                zoom: 8,  // Sets zoom level based on level of detail (LOD)
                center: [-92, 39]  // Sets center point of view using longitude,latitude
            });
        });
    </script>
</head>
<body>
    <div id="viewDiv"></div>
</body>
</html>